main{
    width: calc(13*30px);
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 30px;
    height: 30px;
    background-color: firebrick;
    /* border: 1px solid white; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall{
    background-color: grey;
}

.path{
    background-color: lightgreen;
}

.start{
    background-color: olivedrab;
}

.treasure{
    background-color: gold;
}

.player{
    background-color: darkmagenta;
    border: 2px solid white;
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

.player-boum-transition{
    background-color: darkmagenta;
    border: 2px solid white;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    transition-duration: 2s;
    transition-timing-function: ease;
}